<% include partials/header.ejs %>


<!-- End Navbar -->
<div class="slider">
        <div id="owl-demo" class="owl-carousel owl-theme">

            <div class="item"><img src="/images/gst-single-tax.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/images/building-nation-together.jpg" alt="GTA V"></div>
            <div class="item"><img src="/images/more-simplified-now.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/images/slider4.jpg" alt="Mirror Edge"></div>
        </div>

</div>
<div class="wrapper">

    <div class="main main-raised" style="margin-top: 0px;">
        <div class="space-50"></div>
        <div class="row no-margin">

            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-3">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <div class="icon-wrapper" style="padding: 10px; margin-top: 10px"><a href="https://www.gst.gov.in/" style="text-decoration: none"><i class="fa fa-calendar custom-icon"><span class="fix-editor">&nbsp;</span></i></a></div>
                            <h4 class="text-uppercase" ><a href="https://www.gst.gov.in/" style="color: #0088cc;font-weight: 500; text-decoration: none">GST Registration</a></h4>
                            <a class="subcolor" href="https://www.gst.gov.in/" style="color: gray;text-decoration: none">Apply For Registration</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <div class="icon-wrapper" style="padding: 10px; margin-top: 10px"><a href="https://www.gst.gov.in/" style="text-decoration: none"><i class="fa fa-check-square-o custom-icon"><span class="fix-editor">&nbsp;</span></i></a></div>
                            <h4 class="text-uppercase" ><a href="https://www.gst.gov.in/" style="color: #0088cc;font-weight: 500; text-decoration: none">GST RETURN</a></h4>
                            <a class="subcolor" href="https://www.gst.gov.in/" style="color: gray;text-decoration: none">File Your Return</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <div class="icon-wrapper" style="padding: 10px; margin-top: 10px"><a href="https://www.gst.gov.in/" style="text-decoration: none"><i class="fa fa-refresh custom-icon"><span class="fix-editor">&nbsp;</span></i></a></div>
                            <h4 class="text-uppercase" ><a href="https://www.gst.gov.in/" style="color: #0088cc;font-weight: 500; text-decoration: none">GST REFUND</a></h4>
                            <a class="subcolor" href="https://www.gst.gov.in/" style="color: gray;text-decoration: none">File Your Refund</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="featured-box featured-box-primary">
                        <div class="box-content" style="height: 306px;">
                            <div class="icon-wrapper" style="padding: 10px; margin-top: 10px"><a href="https://www.gst.gov.in/" style="text-decoration: none"><i class="fa fa-money custom-icon" ><span class="fix-editor">&nbsp;</span></i></a></div>
                            <h4 class="text-uppercase" ><a href="https://www.gst.gov.in/" style="color: #0088cc;font-weight: 500; text-decoration: none">PAY YOUR TAX</a></h4>
                            <a class="subcolor" href="https://www.gst.gov.in/" style="color: gray;text-decoration: none">Pay GST Tax</a>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="space-50"></div>
        <div class="row no-margin">


            <div class="col-md-2 col-md-offset-1">
                <div class="sidebar" style="height: 980px;overflow-y: scroll;">
                    <h2 style="text-decoration: #fc896c underline;margin-left: 5px;">What's New</h2>
                    <ul style="list-style: none;margin-left: -30px">
                        <% if (data) { %>
                        <% data.forEach(function(item) { %>
                        <h6><a href="/whatsNew/<%= item.id %>"><%- item.title %></a></h6>
                        <li>
                            <% if (item.content.length > 60){ %>
                            <%- item.content.substring(0, 60).replace(/<(?:.|\n)*?>/gm, ''); %>.....
                            <% } else { %>
                            <%- item.content.replace(/<(?:.|\n)*?>/gm, ''); %>
                            <% } %>
                        </li>
                        <% }); %>
                        <% } %>

                    </ul>
                </div>

            </div>
            <div class="col-md-8 ">
                <div class="row">
                    <div class=" col-md-3" >
                            <img src="/images/pages/1knraghavan-commissioner-300x283.jpg" class="img-responsive">
                            <h6 >Dr. K. N. RAGHAVAN,COMMISSIONER</h6>
                    </div>
                    <div class="col-md-9" >
                        <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold;margin-top: 0px; ">From Principal Commissioner's Desk</h2>
                        <p class="text-justify">Goods and Services Tax (GST), the biggest tax reform witnessed in the country since independence, was brought into effect by Government of India, along with all State Governments, on 1 July 2017. Central Board of Excise and Customs has, through the various Commissionerates located across the country, been in the forefront for implementing the new levy as well as to help the assessees and tax payers in ensuring a smooth switch over from the old system to the new.
                            I feel happy and privileged to present before you the new updated website of Mumbai Central Commissionerate.his website is launched to bring the Department closer to the assessee and tax payers by providing all necessary information not only about the tax and the laws and rules that govern them, but also the details of offices and officers of the Department with who they may be required to interact.
                            ...</p>
                        <button class="btn btn-info"><a href="/desk">Know More..</a><div class="ripple-container"></div></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">

                        <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">Recent Events</h2>
                        <div id="carousel">
                            <!-- Carousel Card -->
                            <div class="card card-raised card-carousel">
                                <div id="carousel-example-generic2" class="carousel slide article-slide"
                                     data-ride="carousel">
                                    <div class="carousel slide" data-ride="carousel">

                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <% for(var i = 0;i < files.length;i++){ %>
                                            <li data-target="#carousel-example-generic2" data-slide-to="<%= i %>"
                                                class="active"></li>
                                            <% } %>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner c-height">
                                            <% for(var i = 0;i < files.length;i++){ %>
                                            <div class="item">
                                                <img src="/recentEvents/<%= files[i] %>" alt="Awesome Image">
                                                <div class="carousel-caption">
                                                    <h4><i class="material-icons">location_on</i> central mumbai, IN</h4>
                                                </div>
                                            </div>
                                            <% } %>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Carousel Card -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h2 class="bd-callout bd-callout-info bg-success text-info" style="padding: 10px;font-weight: bold; ">From Twitter</h2>
                        <a class="twitter-timeline" data-width="380" data-height="400" href="https://twitter.com/GSTMumCentral?ref_src=twsrc%5Etfw">Tweets by GSTMumCentral</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <div class="Departmental" >
                            <i class="fa fa-users" aria-hidden="true" style="font-size: 72px;color: #fff;padding: 10px;margin-left: 90px;"></i>
                            <a href="/desk/departmentalOfficers"><h3 style="text-align: center;font-weight: bold;color: white" >Departmental Officers</h3></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row no-margin" >
            <!--govt website-->
            <div class="grey" style="margin-top:30px;">
                <div class="container">
                    <div class="row logo-india">
                        <div class="col-md-2">
                            <a href="https://india.gov.in/" target="_blank"><img src="/images/pages/logo-india-2.jpg" width="148" height="72"></a>
                        </div>
                        <div class="col-md-2">
                            <a href="https://www.mygov.in/" target="_blank"><img src="/images/pages/logo-india-3.jpg" width="148" height="72"> </a>
                        </div>
                        <div class="col-md-2">
                            <a href="http://finmin.nic.in/" target="_blank"><img src="/images/pages/logo-india-5.jpg" width="148" height="72"> </a>

                        </div>
                        <div class="col-md-2">
                            <a href="http://www.swachhbharaturban.in/sbm/home/" target="_blank"><img src="/images/pages/logo-india-1.jpg" width="148" height="72"> </a>
                        </div>
                        <div class="col-md-2">
                            <a href="http://www.makeinindia.com/home" target="_blank"><img src="/images/pages/logo-india-6.jpg" width="148" height="72"></a>
                        </div>
                        <div class="col-md-2">
                            <a href="http://digitalindia.gov.in/" target="_blank"><img src="/images/pages/logo-india-4.jpg" width="148" height="72"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-50"></div>


    </div>

</div>



<% include partials/footer.ejs%>
<script>
    $(document).ready(function () {
        $('#carousel-example-generic2').find('.item').first().addClass('active');
    });
</script>
