<% include ../partials/header.ejs%>
<% include ../partials/sidebar.ejs%>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">List of Pages</h4>
                        <p class="category">You can View,Edit and Delete Pages</p>
                        <div class="pull-right">
                        <button type="button" class="btn btn-success" onclick="javascript:location.href='/admin/pages/create'"><i class="fa fa-plus-square" style="font-size: 18px;"></i> Add New Page</button>
                        </div>
                    </div>
                <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <th>S.NO</th>
                    <th>Title</th>
                    <th>Actions</th>
                    <th>Published/updated</th>

                    </thead>
                    <tbody>
                    <% data.forEach(function(item, i) { %>
                    <tr>
                        <td><%= (current - 1) * perPage + i + 1 %></td>
                        <td><%- item.title %></td>
                        <td><a href="/admin/pages/edit/<%= item.title %>" data-toggle="tooltip" title="Edit"> <i class="pe-7s-pen" style="font-size: 32px;color: #1D62F0;"></i></a>
                            <% if(currentUser && currentUser.role === "Admin"){ %>
                                ---
                            <a href="/admin/pages/delete/<%= item.title %>" data-toggle="tooltip" title="Delete" onclick="if (!confirm('Are you sure to DELETE Page?')) { return false }"><i class="pe-7s-close"style="font-size: 32px;color:red;"></i></a></td>
                        <% } %>
                        <td><%- item.updatedAt %></td>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
                    <div class="col-md-4 col-md-offset-4">
                        <% if (pages > 0) { %>
                        <ul class="pagination text-center">
                            <% if (current == 1) { %>
                            <li class="disabled"><a>First</a></li>
                            <% } else { %>
                            <li><a href="/admin/pages/1">First</a></li>
                            <% } %>
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                            <li class="disabled"><a>...</a></li>
                            <% } %>
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                            <% } else { %>
                            <li><a href="/admin/pages/<%= i %>"><%= i %></a></li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                            <% } %>
                            <% } %>
                            <% if (current == pages) { %>
                            <li class="disabled"><a>Last</a></li>
                            <% } else { %>
                            <li><a href="/admin/pages/<%= pages %>">Last</a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>